* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(104, 105, 106);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
    font-family: fantasy;
}

.edit {
    border: none;
    outline: none;
    font-weight: bold;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.edit,
.fontStyle,
.justify,
.style,
.sign {
    width: 40px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    margin: 0 5px;
}

.fontStyle,
.style {
    width: 160px;
}

.justify {
    width: 120px;
}

.b,
.i,
.u,
.s {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.b:hover,
.i:hover,
.u:hover,
.s:hover,
.left:hover,
.center:hover,
.right:hover,
.fontFamily:hover,
.fontSize:hover,
.color:hover,
.background:hover,
.save:hover,
.table:hover,
.ol:hover,
.ul:hover {
    background-color: rgb(217, 223, 229);
    border-radius: 5px;
}

.b:active,
.i:active,
.u:active,
.s:active,
.left:active,
.center:active,
.right:active,
.fontFamily:active,
.fontSize:active,
.color:active,
.background:active {
    box-shadow: 0 0 3px 1px rgba(73, 73, 73, 0.88);
}

.left,
.center,
.right,
.fontFamily,
.fontSize,
.color,
.background,
.sign {
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.left {
    background-image: url(style/img/icons-left.png);
}

.center {
    background-image: url(style/img/icons-center.png);
}

.right {
    background-image: url(style/img/icons-right.png);
}

.fontFamily {
    background-image: url(style/img/a.png);
    position: relative;
}

.fontSize {
    background-image: url(style/img/t.png);
    position: relative;
}

.color {
    background-image: url(style/img/color.png);
}

.background {
    background-image: url(style/img/img.png);
}

.sign {
    background-image: url(style/img/key.png);
}

.textarea {
    display: none;
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 80px 15px 5px;
    border: none;
    resize: none;
    box-shadow: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: auto;
    background-size: cover;
}

.browser {
    width: 100%;
    min-height: 100vh;
    padding: 80px 15px 15px;
    border: none;
    resize: none;
    box-shadow: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: auto;
    background-size: cover;
}

.textarea:focus {
    outline: none;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strike {
    text-decoration: line-through;
}


.btnPush {
    background-color: rgb(217, 223, 229);
    border-radius: 5px;
}

.drop,
.dropFS {
    display: none;
    position: absolute;
    width: 120px;
    top: 43px;
    left: -80px;
    border: 1px solid rgba(179, 179, 179, 0.88);
    border-radius: 5px;
    background-color: #fff;
}

.textFamily {
    display: block;
    padding: 2px 10px;
}

.textFamily:hover {
    background-color: rgb(217, 223, 229);
}

.size {
    display: block;
    padding: 2px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.size:hover {
    background-color: rgb(217, 223, 229);
}

.modalBack {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
}

.modalBackForm {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
}

.modalWindow {
    width: 407px;
    position: absolute;
    top: -550px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid rgba(179, 179, 179, 0.88);
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.5;
}

.modalText {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

.colorsBox,
.bgsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imagesBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.close {
    position: absolute;
    right: 8px;
    top: 3px;
    cursor: pointer;
}

.colorBox,
.bgBox {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 0px 5px 5px 0px;
    cursor: pointer;
}

.imageBox {
    width: 120px;
    height: 55px;
    border-radius: 5px;
    margin: 0px 5px 5px 0px;
    cursor: pointer;
    background-size: cover;
}

.modalMenu {
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    border-bottom: 1px solid rgba(179, 179, 179, 0.88);
    margin-bottom: 10px;
}

.hrefActive {
    border: 1px solid rgba(179, 179, 179, 0.88);
    border-bottom: none;
    margin-bottom: -1px;
    color: black !important;
}

.modalMenu a {
    display: block;
    padding: 2px 15px;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(0, 89, 253);
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

#file {
    width: 0.1px;
    height: 0.1px;
    background-color: rgb(204, 204, 204);
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.file {
    display: block;
    width: 385px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 30px;
    padding-left: 5px;
    border: 1px solid rgba(179, 179, 179, 0.88);
    cursor: pointer;
}

.browse {
    float: right;
    background-color: rgba(179, 179, 179, 0.88);
    height: 28px;
    padding: 0 10px;
}

.file:active {
    outline: 2px solid rgb(0, 89, 253);
}

hr {
    border: 1px solid rgba(179, 179, 179, 0.88);
}

.f1 {
    display: none;
}

.f1 input {
    width: 385px;
    height: 30px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid rgba(179, 179, 179, 0.88);
    padding: 0 5px;
}

.f1 input:focus {
    /* border-width: 2px; */
    outline: none;
    box-shadow: 0 0 3px 1px;
}

.error {
    display: none;
    margin-top: 15px;
    color: red;
}

.btnSign {
    margin-top: 15px;
    width: 385px;
    height: 35px;
    background-color: rgba(73, 73, 73, 0.88);
    color: white;
    border: none;
    border-radius: 5px;
}

.btnSign:active {
    border: 1px solid rgba(179, 179, 179, 0.88);
}

.btnSign:focus {
    outline: none;
}

.editElem {
    width: 160px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    align-items: center;
}

.save,
.table,
.ul,
.ol {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.save {
    background-image: url(style/img/save.png);
}

.table {
    background-image: url(style/img/table.png);
}

.ol {
    background-image: url(style/img/ol.png);
}

.ul {
    background-image: url(style/img/ul.png);
}

.tableOption,
.listOptionOl,
.listOptionUl {
    display: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tableOption input[type="text"],
.listOptionOl input[type="text"],
.listOptionUl input[type="text"] {
    width: 630px;
    height: 25px;
    margin: 10px 40px 0;
}

.tableOption h4 {
    margin-top: 10px;
}

.border input[type="text"] {
    width: 100px;
}

.border select {
    width: 100px;
    height: 25px;
    margin: 0 15px;
}

.btn {
    width: 65px;
    height: 30px;
    margin-right: 5px;
    border-radius: 3px;
    border: none;
}

.btnCreate {
    background-color: rgb(1, 216, 48);
    width: 150px;
    margin: 20px;
}

.btnReset {
    background-color: rgb(247, 27, 27);
    width: 150px;
    margin: 20px;
    color: white;
}

.listOptionOl select,
.listOptionUl select {
    width: 620px;
    height: 25px;
    margin: 10px 15px;
}

table {
    border-collapse: collapse;
}

p label {
    margin-right: 30px;
}

.browser li {
    list-style-position: inside;
}

.errorLi {
    color: red;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}